@import "../app.scss";
.modal-dialog {
  .modal-wrapper {
    .form-center {
      .form-group {
        .margin-none {
          margin: 0 0 30px 0;
        }
        .btn-bg{margin:30px 0 0 0}
        .otp-text {
          text-align: center;
          color: #424b5a;
          padding: 0 0 15px 0;
        }
        .resend-otp {
          background: transparent;
          float: right;
          border: none;
          margin: 0 0 0px 0;
          color: #a9a9a9;
          position: absolute;
          right: 0;
          bottom: 10px;
        }
        .otperrorwidth{width: 80%}
      }
    }
  }
}
