@import "../app.scss";
.modal-dialog {
  .modal-wrapper {
    .form-center {
      position: relative;
      .text {
        color: $colorgrey;
        font-weight: normal;
      }
      .text-emailotp {
        margin: 0 0 30px 0;
      }
      .error-msg {
        width: 100%;
        bottom: 5px;
        margin: 0;
      }

      .form-control {
        margin: 0 0 30px 0;
      }
      .newinputmargin {
        margin: 0 0 30px 0;
      }
      .form-div {
        position: relative;
        .valiationPosition {
          position: absolute;
          top: 0;
          right: 0;
          padding: 4px 5px;
          height: 40px;
        }
      }
    }
  }
}

//----------------------------------------------------

.checkmarkImg {
  width: 27px;
}

// .sliderContainer {
//   overflow: hidden;
// }

.valiationPosition {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 5px;
  height: 40px;
}

.valiationPosition-NewPassword {
  position: absolute;
  right: 9px;
  top: 6px;
  width: 25px;
}

.positionRel {
  position: relative;
}

.rightAnim {
  position: absolute;
  display: block;
  top: 2em;
  width: 100%;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-name: anim-Right;
}

@keyframes anim-Right {
  0%,
  1.3% {
    right: -100%;
    opacity: 0;
  }
  1.3%,
  100% {
    right: 0%;
    opacity: 1;
  }
}
