footer .col5 > div:last-child {width: 27%;}
footer{padding:40px 0; border-top: 1px solid #e1e3e5;}
footer  h3{font-size: 14px;padding-bottom: 15px;text-transform: uppercase; padding-top: 15px; color: #5f5b5b;}
footer ul li{padding:5px 0;text-transform: capitalize}
footer ul li a, .newsletterList{color: #8c8d8e}
.newSubscribe input{border:1px solid #e1e3e5}
.newSubscribe{padding-top:15px}
.newSubscribe button{background: #424b5a;color: #fff; border: none;padding: 10px 15px; border-radius: 0px 4px 4px 0px; text-transform: uppercase;}
.social-Link {padding-top:40px; text-align: center; width: 100%}
.social-Link ul li{display: inline-block;}
.social-Link ul li a{display:block;padding: 10px 13px;}
.social-Link ul li a i{font-size: 18px;color: #424b5a}
.floatLeft{ float: left; }
.form-control.borderRadius, .btn.borderRadius{ border-radius: 0; }
.text-center{ text-align: center}
.newsletterForm Form{ color: #454545}
@media (min-width: 276px) {
    .newsletterList .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        width:70%
    }

    .newsletterList .form-inline button {
        display: inline-block;
        width:30%;
    }
}
.newsletterList li form button {
    background-color: #454545;
    color: #ffffff;
    border-radius: 3px;
}

