/**-------Base css Format-------**/
$colorWhite:#fff;/* White */
$colorBlack:#424b5a; /* Black */
$colorGrey:#f2f5f7;  /* Grey */

.resetmargin_padd{margin:0;padding:0;}
$font:‘open sans’, sans-serif;
$bodyfontSize:0.875em;/* 14px */
$paragraph:0.875em;
$margin_bottom10:10px;
$heading_level3:20px 0 10px 0;
$heading_level6:10px 0 10px 0;
.border{border:1px solid #ced4da }
.border_radius{border-radius: 3px}

/* Heading h1,h2,h3,h4,h5,h6, Variable */
$h1:2.250em; /* 36 px */
$h2:1.875em; /* 30 px */
$h3:1.500em; /* 24 px */
$h4:1.125em; /* 18 px */
$h5:0.875em; /* 14 px */
$h6:0.750em; /* 12 px */

html {
    font-family: $font;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
    body{
        font-family: $font ;font-size: $bodyfontSize;line-height: 1.42857143;
        color: $colorBlack;
        background-color: $colorWhite;
            p{ font-size: $paragraph;margin:$margin_bottom10 }        
            h1,h2,h3 { margin: $heading_level3; }
            h4,h5,h6 { margin: $heading_level6 }
            h1 { font-size: $h1 }               
            h2 { font-size: $h2 }  
            h3 { font-size: $h3 }           
            h4 { font-size: $h4 } 
            h5 { font-size: $h5 }
            h6 { font-size: $h6 }
            
            input,select,button,textarea{
                @extend .border;
                @extend .border_radius
            
            }
            button,
            [type="button"],
            [type="reset"],
            [type="submit"] {
                -webkit-appearance: button;
            };

            input,
            [type="text"],
            [type="button"],
            [type="checkbox"],
            [type="radio"]{
                @extend .resetmargin_padd
            }

    } ;/* Body */


