/*----New home body style---*/
.explore-room .heading{margin:0 auto; text-align: center; font-weight: bold; text-transform: uppercase; color: #505d68;
    padding: 10px 0 30px 0; font-size: 16px;}
 .explore-room .explore{border:1px solid #d3dfe7;padding:20px;width:70%;margin: 0 auto; display: -webkit-box;display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify;
    -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;}
.explore-room .explore .list{display:inline-block;    max-width: 15%; text-align: center;}
.explore-room .explore .list .list-link{display:block;color:#4a4a4a;font-weight: bold;text-decoration: none}
.explore-room .explore .list .imgfullwidth{width:100%}
.explore-room .explore .list .imgfullwidth{display:block}
.explore-room .explore .list .textarea{padding:20px 0 0 0;display:block}


/*-----recently-viewed-----*/
.recently-viewed{padding-top: 0}
.recently-viewed .heading{font-weight: bold;padding: 30px 0 50px 0; margin:0;text-align: center;color:#505d68;}
.recently-viewed .productBox{ margin:0 0 15px 0}
.recently-viewed .productBox .imgBox{ background: #f7f8f8; padding: 60px 10px; }
.recently-viewed .productBox .imgBox .imgfullwidth{width:100%;}
.recently-viewed .product-text{text-align: center}
.recently-viewed .product-text .text{color: #000000;margin: 0; line-height: 24px; padding: 5px 0 0 0; line-height: 24px; margin: 0;}
.recently-viewed .product-text .heading{position: relative;font-weight: bold;padding-top: 15px;text-transform: capitalize;}
.recently-viewed .product-text .heading::after{ position: absolute; width: 20px; height: 1px; background: #ee4060; content: '';
    bottom: 0; margin: 0 auto; display: block; left: 0;  right: 0;}
.recently-viewed .product-text .text-color{color:#ee4060}
.recently-viewed .product-text .text-color .bold{font-weight: bold}

.recently-viewed .product-text .price{font-weight: bold}
.discount-price{font-size: 16px;font-weight: bold; color:#036cc5}
.recently-viewed .product-text .price .priceno-discount{text-decoration: line-through;text-decoration-color: #ee4060;font-weight: normal;padding-left: 15px; }

.offerpercent{font-style: italic;}

/* ourstore
------------------------------------*/
.ourstore .ourstoreImgbox{position: relative;height: 385px; background: url(https://192.168.0.39:8443/wcsstore/GodrejInterioSAS/images/godrejInterio/godrejstore-banner.png) 100% 100%;}
.ourstore .ourstoreImgbox .imgfullwidth{width:100%}
.ourstore .store-textbox{background:#f7f8f8;padding:20px;text-align: center}
.ourstore .btn-bg{  background: #070707;color: #fff; padding: 8px 40px; border-style: none;margin:10px 0 0 0}
.ourstore .store-textbox{position: absolute; top: 50%; left: 26%; width: 540px; height: 220px; margin-top: -110px; margin-left: -270px;}
.ourstore .store-textbox .heading{font-weight: bold;margin: 10px 0;}
.ourstore .store-textbox .text{margin:5px 0 0 0}
.ourstore .store-textbox .text .bold{color:#036cc5;font-weight: bold;}

/* oursolutions
------------------------------------*/
.oursolutions{padding-top:0}
.oursolutions .ourstoreImgbox{position: relative;height: 347px; background: url(https://192.168.0.39:8443/wcsstore/GodrejInterioSAS/images/godrejInterio/solution-banner.png) 100% 100%;}
.oursolutions .store-textbox{background:#f7f8f8;padding:20px;text-align: center}
.oursolutions .store-textbox .imgfullwidth{width: 95px;}
.oursolutions .btn-bg{  background: #070707;color: #fff; padding: 8px 40px; border-style: none;margin:10px 0 0 0}
.oursolutions .store-textbox{   position: absolute; top: 50%; left: 50%; width: 540px; height: 228px; margin-top: -114px; margin-left: -270px;}
.oursolutions .store-textbox .heading{font-weight: bold;font-size: 18px;}
.oursolutions .store-textbox .text{margin:5px 0 0 0}
.oursolutions .store-textbox .text .bold{color:#036cc5;font-weight: bold;}

/* recommendation
------------------------------------*/
.recommendation-wrapper{width:80%;margin:0 auto}
.recommendation .heading { font-weight: bold; padding: 30px 0 50px 0; margin:0;   text-align: center; color:#000000;}
.recommendation .imgBox .imgfullwidth{width:100%}
.cupboard .imgcustomwid{width:93%}
.recommendation .imgBox{margin:0 0 30px 0}

/*our-promises
------------------------------------------*/
.our-promises{ background: #036cc5;position: relative;}
.our-promises .heading { font-weight: bold; font-size: 48px; padding-bottom: 30px;  color:#fff;    margin-top: 0;}
.our-promises .Promise-boxtext .sub-heading{color:#fff;font-size: 16px;font-weight: bold;text-transform: capitalize;    margin: 10px 0;}
.our-promises .Promise-boxtext .text{color: #fff;}
.our-promises .product-bg{position: absolute; right: 0; width: 350px; top: -80px;}
.our-promises .product-bg .imgfullwidth{width:100%}


/*------Featured Categories
-------------------------------------*/
.featureCategories .heading {font-weight: bold;padding: 30px 0 50px 0; margin:0; text-align: center; color: #505d68; }
.featureCategories{margin-bottom: 15px;    padding-top: 0;}
.featureCategories .featureCarouselbox .Imgbox{padding: 0 0 10px 0;}
.featureCategories .featureCarouselbox .Imgbox .imgfullwidth{width:100%}

.featureCategories .leftbox{float: left;}
.featureCategories .leftbox .bold{font-weight: bold}
.featureCategories .rightbox{float: right;}
.featureCategories .featureCarouselbox  .itemtext .text{color:#000;}
